.PlaylistList {
    width: 50%;
    max-height: 950px;
    overflow-y: scroll;
    padding: 2.27rem 1.16rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    margin: 0 10px
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }

  .PlaylistItem :hover {
    background-color: rgba(108, 65, 233, .7);
  }
  
  
  @media only screen and (max-width: 1150px) {
    .PlaylistList {
        width: 90%;
        margin-bottom: 2rem;
    }
  }